{% extends "layout.html" %}
{% block title %}New Task{% endblock %}
{% block content %}
<h2>New Task</h2>
  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
<form action="" method="post">
        <dt>Task Title:
	  <br><input type="text" name="title" size="30">
	    <dt>Task Content:
	      <br>
	  <textarea name="content" cols=40 rows=4></textarea>
	<!-- <dt>Public Date: -->
	<!--   <input type="text" name="public_year" size="4">(year)/ -->
	<!--   <input type="text" name="public_month" size="2">(month)/ -->
	<!--   <input type="text" name="public_day" size="2">(day) -  -->
	<!--   <input type="text" name="public_hour" size="2">(hour): -->
	<!--   <input type="text" name="public_min" size="2">(min). -->
	<!-- </dt> -->
	<dt>End Date:
	  <input type="text" name="end_year" size="4">(year)/
	  <input type="text" name="end_month" size="2">(month)/
	  <input type="text" name="end_day" size="2">(day) - 
	  <input type="text" name="end_hour" size="2">(hour):
	  <input type="text" name="end_min" size="2">(min).
	</dt>
	<dt>Select Tags:
	  <dd><select multiple cols=5>
	      {% for tag in tags %}
	      <option value="{{tag['tagname']}}">{{tag[tagname]}}</option>
	      {% endfor %}
	      </select>
	</dt>
	    <div class="actions"><input type="submit" value="Sign Up"></div>
</form>
<br>
<li><a href="{{url_for('new_tag_page')}}">New Tag</a></li>
{% endblock %}
