{% extends "layout.html" %}
{% block title %} {{ name }} - Tag {% endblock %}
{% block content %}
<h2>Tag: {{ name }}</h2>
<div class="creater">Creater:
  <a href="{{ url_for('people_page', username=creater)}}"><strong>{{ creater }}</strong></a>
</div>
<div class="init_date">
  Created Date: {{ init }}
</div>
<br>
{% if num_task > 0 %}
<table>
Tasks in {{name}}:
<tr><td>Task ID</td><td>Title</td><td>Statu</td></tr>
{% for i in range(num_task) %}
<tr><td>{{task_ids[i]}}</td><td>
  <a href="{{url_for('task_page', task_id=task_ids[i])}}">{{task_titles[i]}}</a>
  </td><td>{{task_status[i]}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
