{% extends "layout.html" %}
{% block title %}Urgent Tasks{% endblock %}
{% block content %}
<h2>Urgent Tasks that Have NOT received by anybody</h2>
<h3>Have less 6 hours before Deadline</h3>

<table>

<tr><td>Task ID</td><td>Task</td><td>Poster</td><td>End Date</td></tr>
  
{% for i in range(num) %}
<tr><td>{{ids[i]}}</td>
    <td><a href="{{url_for('task_page', task_id=ids[i])}}">{{titles[i]}}</a></td>
    <td><a href="{{url_for('people_page', username=posters[i])}}">{{posters[i]}}</a></td>
    <td>{{ends[i]}}</td></tr>
{% endfor %}

</table>
{% endblock %}
